{% extends "handicaps/base.html" %}

{% block header %}
  <div class="jumbotron">
    <h2>Tour Standard - Just how good are they?</h2>
  </div>
{% endblock header %}

{% block content %}
  <p>
    PGA Tour players are the best golfers in the world. They consistently post excellent scores on the hardest courses in the world.
    <br>
    <br>
    Tour Standard calculates just how good they are by using the Australian Calculations for handicaps to guage just how good they are.
    <br>
    <br>
    In order to calculate their handicaps Tour Standard factors in course difficulty and setup difficulty. From this adjusted score, the top 8 scores of their most recent 20 games calculate their playing handicap.
  </p>
{% endblock content %}